@model ToDoXUnitTest.Models.Category
@{
    ViewData["Title"] = "To Do List - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h2>Details</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
